*{
    margin:0;
    padding: 0;
}

body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
      #message { background: white; max-width: 360px; margin: 100px auto 16px; padding: 32px 24px; border-radius: 3px; }
      #message h2 { color: #ffa100; font-weight: bold; font-size: 16px; margin: 0 0 8px; }
      #message h1 { font-size: 22px; font-weight: 300; color: rgba(0,0,0,0.6); margin: 0 0 16px;}
      #message p { line-height: 140%; margin: 16px 0 24px; font-size: 14px; }
      #message a { display: block; text-align: center; background: #039be5; text-transform: uppercase; text-decoration: none; color: white; padding: 16px; border-radius: 4px; }
      #message, #message a { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
      #load { color: rgba(0,0,0,0.4); text-align: center; font-size: 13px; }
      @media (max-width: 600px) {
        body, #message { margin-top: 0; background: white; box-shadow: none; }
        body { border-top: 16px solid #ffa100; }
      }


.lupa{
    width: 40px;
    height: 40px;
    background-color: rgb(236, 230, 230); 
    padding: 10px 10px;
    cursor: pointer;
    
}

#lupa:after{
    font-family:FontAwesome;
    font-size:14px;
    content:"\f002"
 }

.busca:focus{
    border: solid 2px rgb(187, 41, 66);
}

.busca{
    width: 70%;
    height: 40px;
    margin: 5% 5% 5% 5%;  
    border: solid 1px;  
}

.logo1 {
    font-family: 'Satisfy', cursive;
    color: #F25E5E;
    font-size: 3em;
}

.text {
    font-family: 'Lato', sans-serif;
    color: #0D0D0D;
    font-size: 1em;
    margin: 5% 5% 5% 5%;
}

.map {
    width: auto;
    height: 480px;
    border: 2px solid #2186C4;
    padding: 1px;
    margin: 3px;
}

.endereco {
    background-color: rgba(255, 255, 255, 0);
}

/* Color Theme Swatches in Hex */
.Salmon-on-Ice-1-hex { color: #3F464D; }
.Salmon-on-Ice-2-hex { color: #2186C4; }
.Salmon-on-Ice-3-hex { color: #7ECEFC; }
.Salmon-on-Ice-4-hex { color: #FFF6E6; }
.Salmon-on-Ice-5-hex { color: #FF8066; }

/* Color Theme Swatches in Hex */
.Smokey-Sunrise-1-hex { color: #5F6B73; }
.Smokey-Sunrise-2-hex { color: #0D0D0D; }
.Smokey-Sunrise-3-hex { color: #C1D2D9; }
.Smokey-Sunrise-4-hex { color: #D8D9CC; }

/* Color Theme Swatches in Hex */
.color-1-hex { color: #024873; }
.color-2-hex { color: #0396A6; }
.color-3-hex { color: #04BFAD; }
.color-4-hex { color: #F28963; }
.color-5-hex { color: #F25E5E; }