html,body {
    padding: 0;
    margin: 0;
}

.busca-input {
    margin: 30px;
}

.sobre {
    margin: 2em
}

.logo {
    font-family: 'Satisfy', cursive;
    color: #F25E5E;
    font-size: 1.3em;
}

.logo-img {
    width: 40px;
    padding-right: 5px; 
}

.image {
    width: 100px;
}

.title {
    font-size: 1.7em;
}

.text {
    font-family: 'Lato', sans-serif;
    color: #0D0D0D;
    font-size: 1em;
}

.map {
    width: auto;
    height: 480px;
    border: 2px solid #2186C4;
    padding: 1px;
    margin: 3px;
}

.endereco {
    background-color: rgba(255, 255, 255, 0);
    width: 300px;
    height: 50px;
    margin-top: 20px;
}

.image {
    width: 100%;
    padding-top: 1em;
}

.lupa {
    cursor: pointer;
}

.loguinho{
    background-image: url(./img/logo-250.png);
    background-size: 20px;
}

.H_ib_content {
    min-width: 10em;
    margin: 22px .6em;
}

.name {
    color: #0D0D0D;
    font-weight: bold;
    font-family: Lato, sans-serif;
    font-size: 1.1em;
    padding-left: .5em;
}

.address {
    color: #0d0d0d;
    font-family: lato, sans-serif;
    font-size: .9em;
    line-height: 1.6em;
}

.more a{
    color: #2186C4;
    font-family: lato, sans-serif;
    font-size: 1.1em;
    text-decoration: none;
}

/* Color Theme Swatches in Hex */
.Salmon-on-Ice-1-hex { color: #3F464D; }
.Salmon-on-Ice-2-hex { color: #2186C4; }
.Salmon-on-Ice-3-hex { color: #7ECEFC; }
.Salmon-on-Ice-4-hex { color: #FFF6E6; }
.Salmon-on-Ice-5-hex { color: #FF8066; }

.Smokey-Sunrise-1-hex { color: #5F6B73; }
.Smokey-Sunrise-2-hex { color: #0D0D0D; }
.Smokey-Sunrise-3-hex { color: #C1D2D9; }
.Smokey-Sunrise-4-hex { color: #D8D9CC; }


.color-1-hex { color: #024873; }
.color-2-hex { color: #0396A6; }
.color-3-hex { color: #04BFAD; }
.color-4-hex { color: #F28963; }
.color-5-hex { color: #F25E5E; }